html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }
  .e-multiselect.e-input-group .e-multi-select-wrapper {
    background-color: red;
}

.css-b62m3t-container{
  color:deepskyblue;
}

.rmsc{
  color:deepskyblue;
}